<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Article</title>
  </head>

  <body>
    <form action="/article/new" method="post">
      <label for="article">Article title:</label>
      <input type="text" id="article_title" name="article_title"><br />


      <label for="article">Article Url:</label>
      <input type="text" id="article_url" name="article_url"><br />

      <label for="article">Article Description:</label><br />
      <textarea type="textarea" id="article_desc" name="article_desc"></textarea><br />

      <input type="submit">
    </form>
  </body>
</html>
