<h1>Create a new Meetup</h1>
<form method="POST" action="/meetups/new">
  <div id="meetup">
    <label for="title">Title:</label><br />
    <input type="textfield" name="title" class="newMeetup" />
    <br /><br />
    <label for="location">Location:</label><br />
    <input type="textfield" name="location" class="newMeetup" />
    <br /><br />
    <label for="description">Description:</label><br />
    <textarea name="description"></textarea>
    <br /><br />
    <input type="submit" />
  </div>
</form>