<div class="row">
  <div class="medium-2 columns">
    <ul class="side-nav">
      <li><a href="/">Home</a></li>
      <li><a href="#">New Releases</a></li>
      <li><a href="#">Horror</a></li>
      <li><a href="#">Action</a></li>
      <li><a href="#">Drama</a></li>
    </ul>
  </div>

  <div class="medium-10 columns">
    <% @movies.each do |movie| %>
      <%= render 'movies/movie', movie: movie %>
      <hr />
    <% end %>
  </div>
</div>
